/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*HEADER*/
header {
    background-color: #FF6900;
    font-weight: 600;
    margin-bottom: 50px;
}
.containerHeader {
    background-color: #FF6900;
    height: 70px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
    
}
/*UTILITIES*/
.flex {
    display: flex;
    align-items: center;
}
.basis {
    flex-basis: calc(100% / 3);
}
/*DIV-MENU*/
.menu {
    justify-content: left;
}
.menu ul {
    display: flex;
    list-style-type: none;
}
.menu li {
    margin-right: 10px;
}
/*DIV-LOGO*/
.logo {
    justify-content: center;
}
.logo img {
    width: 160px;
    margin: 0px 10px;
}
/*DIV-SHOP&LOGIN*/
.shopLogin {
    justify-content: right;
}
.shopLogin i {
    margin-left: 10px;
}

/*-------------------------------------------------------------------------------*/

/*MAIN*/
.containerMain {
    max-width: 1500px;
    margin: 0 auto;
}
.row {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}
.col {
    min-height: 600px;
    width: calc(100% / 3)
}
.card {
    position: relative;
    cursor: pointer;
}
.imgStandard {
    width: 100%;
    display: block;
}
.btn {
    color: white;
    position: absolute;
}
.btn.red {
    background-color: red;
    bottom: 50px;
    font-weight: 600;
    left: 0;
    font-size: 15px;
    padding: 5px 10px;
}
.btn.green {
    background-color: green;
    font-weight: 600;
    left: 70px;
    bottom: 50px;
    font-size: 15px;
    padding: 5px 10px;
}
.btn.green.left {
    background-color: green;
    font-weight: 600;
    left: 0px;
    bottom: 50px;
    font-size: 15px;
    padding: 5px 10px;
}
.btn.hearth {
    background-color: white;
    right: 0;
    top: 10px;
    font-size: 40px;
    color: black;
    padding: 5px 15px;
}
.priceOk {
    color: red;
    font-weight: 600;
}
.priceNo {
text-decoration: line-through ;
}
.imgHover {
    width: 100%;
    position: absolute;
    display: none;
    top: 0;
}
.card:hover .imgHover {
    display: block;
}


















